{% extends 'blog/demo_base.html' %}
{% block title %}
    修改博客
{% endblock %}
{% block bodyblock %}
    <h1>修改标题</h1>
    {# action:提交地址 method:提交方式 csrf_token:防止跨域请求#}
    {# value="{{ blog.title }}" 把视图函数传递过来的值渲染到页面 #}
    <form action="" method="POST"> {% csrf_token %}
        标题<input type="text" autocomplete="off" id="title"
                 placeholder="请输入标题" name='title' value="{{ blog.title }}"> <br> <br><br>
        内容 <textarea name="content" id="content"
                     placeholder="请输入内容" cols="30" rows="10">{{ blog.content }}</textarea>
        <button type="submit">发布博客</button>
    </form>
{% endblock %}