/* ================= main start ================= */
#main {
    margin-top: 25px;
    min-height: 700px;
}
/* ========= main-contain start ============ */
#main .main-contain {
    width: 800px;
    float: left;
}
/* ====== banner start ======*/
.main-contain .banner {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
}
.main-contain .banner .pic {
    height: 100%;
}
.main-contain .banner .pic li {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
}
.banner .pic li a {
    height: 100%;
    display: block;
}
.pic li a img {
    width: 100%;
    height: 100%;
}
.banner .btn {
    display: none;
    color: #fff;
    z-index: 1;
    align-self: center;
    position: absolute;
    transition: all 0.4s linear;
}
.banner .btn .py-arrow-left, .banner .btn .py-arrow-right {
    font-size: 50px;
    font-weight: 600;
}
.banner .prev {
    left: 25px;
}
.banner .next {
    right: 25px;
}
.banner:hover .btn {
    display: block;
    transition: all 0.5s  linear;
}
.banner .tab {
    width: 98px;
    height: 12px;
    position: absolute;
    left: 50%;
    bottom: 22px;
    margin-left: -49px;
    display: flex;
}
.banner .tab li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 6px;
}
.banner .tab li.active {
    background: #fff;
}
/* ====== banner end ======*/
/* ====== content start ======*/
/* == recommendNews start  == */
#main .content .recommend-news {
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.content .recommend-news li {
    width: 250px;
    height: 179px;
    position: relative;
}
.recommend-news li .recommend-thumbnail {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.recommend-news li .recommend-thumbnail img {
    width: 100%;
    transition: all 300ms ease-out;
}
.recommend-news li .info {
    height: 58px;
    width: 100%;
    line-height: 26px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 0 15px;
    box-sizing: border-box;
}
.content .recommend-news li:hover img{
    transform: scale(1.2);
    transition: all 300ms ease-in;
}
.content .recommend-news li:hover .info {
    background: rgba(0, 0, 0, 0.6);
}
/* == recommendNews end  == */
/* == news-nav start == */
.content .news-nav {
    padding-left: 20px;
    background: #fff;
    color: #878787;
    border-top:1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.content .news-nav ul {
    padding: 10px 0;
}
.news-nav ul li{
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    line-height: 24px;
    padding:0 10px;
    border-left: 4px solid transparent;
}
.news-nav ul li:first-child {
    border-left-color: blue;
}
.news-nav ul li.active {
    color: #212121;
}
.news-nav ul li:hover {
    text-shadow: 1px 1px 2px #212121;
}
/* == news-nav end == */
/* == news-contain start == */
.content .news-contain {
    background: #fff;
}
.content .news-contain .news-list li{
    border-bottom: 1px solid #ededed;
}
.news-contain .news-list .news-item{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid #c1c1c1;
}
.news-list .news-item .news-thumbnail {
    width: 225px;
    height: 160px;
    margin-right: 20px;
    overflow: hidden;
}
.news-item .news-thumbnail img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}
.news-item .news-thumbnail:hover img {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
}
.news-list .news-item .news-content {
    flex: 1;
    color: #878787;
    font-size: 14px;
}
.news-item .news-content .news-title{
    color: #212121;
    font-size: 22px;
    height: 52px;
    line-height: 26px;
    transition:all 0.3s ease-out;
}
.news-item .news-content .news-title:hover {
    color: #5b86db;
    transition:all 0.3s ease-in;
}
.news-item .news-content .news-details {
    height: 44px;
    line-height: 22px;
    margin-top: 19px;
    text-align: justify;
}
.news-item .news-content .news-other {
    margin-top: 30px;
}
.news-content .news-other .news-type {
    color: #5b86db;
}
.news-content .news-other .news-author {
    float: right;
    margin-right: 15px;
}
.news-content .news-other .news-time {
    float: right;
}
/* == news-contain end == */
/* == btn-more start == */
.content .btn-more {
    display: block;
    border: none;
    width: 400px;
    line-height: 40px;
    text-align: center;
    background: skyblue;
    color: #efefef;
    margin: 20px auto;
}
.content .btn-more:hover {
    background: #54b9e2;
}
/* == btn-more end == */
/* == news-contain end == */
/* ====== content end ======*/
/* ========= main-contain end ============ */

/* ========= side start ============ */
#main .side {
    width: 360px;
    float: right;
    background: #fff;
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}
/* ==== side-activities start ==== */
.side .side-activities .activities-title {
    font-size: 18px;
    line-height: 60px;
    padding: 0 20px;
}
.side .side-activities .activities-title a {
    font-size: 14px;
    float: right;
    color: skyblue;
}
.side .side-activities .activities-img {
    width: 320px;
    height: 215px;
    position: relative;
    margin: 0 20px 20px;
}
.side-activities .activities-img img {
    width: 100%;
    height: 100%;
}
.side-activities .activities-img .activities-tips{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 20px;
    box-sizing: border-box;
}
.side-activities .activities-list li {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}
.activities-list  li .active-status {
    padding: 2px 4px;
    margin-right: 14px;
}
.activities-list  li .active-start {
     color: skyblue;
     border: 1px solid skyblue;
}
.activities-list  li .active-end {
     color: #ddd;
     border: 1px solid #ddd;
}
.side-activities .activities-list  li:hover {
    background: rgba(204, 204, 204, 0.11);
}
/* ==== side-activities end ==== */
/* ==== side-course start ==== */
.side .side-course {
    border-top: 1px solid #ddd;
    padding: 0 20px 20px;
}
.side .side-course .course-title {
    font-size: 18px;
    line-height: 60px;
}
.side .side-course .course-title a {
    font-size: 14px;
    float: right;
    color: skyblue;
}
.side .side-course .course-entry {
    display: block;
    width: 315px;
    height: 176px;
}
.side-course .course-entry img {
    width: 100%;
}
/* ==== side-course end ==== */
/* ==== side-gift start ==== */
.side .side-gift {
    display: block;
    height: 130px;
    background: url("https://www.xfz.cn/static/build/images/side-gift-banner.png");
}
/* ==== side-gift end ==== */
/* ==== side-attention start ==== */
.side .side-attention {
    height: 261px;
    padding: 20px 20px;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
.side .side-attention .attention-title {
    font-size: 18px;
}
.side-attention .side-attention-address {
    margin: 10px 15px;
    float: left;
}
.side-attention .side-attention-address li {
    line-height: 66px;
}
.side-attention-address li i {
    font-size: 40px;
    vertical-align: -10px;
    padding-right: 25px;
}
.side-attention .side-attention-qr {
    float: right;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background: url(http://onj3s3zfw.bkt.clouddn.com/o_1cggt7lvb1ovi1l1g1ucu8nl1spc7.jpg) no-repeat center/100%;
}
.side-attention .side-attention-qr p {
    text-align: center;
    padding-top: 110px;
    font-size: 16px;
    line-height: 32px;
}
/* ==== side-attention end ==== */
/* ==== side-hot-recommend start ==== */
.side .side-hot-recommend {
    border-top: 1px solid #ddd;
    padding: 0 20px;
}
.side-hot-recommend .hot-recommend {
    font-size: 18px;
    line-height: 60px;
    color: #212121;
}
.side-hot-recommend  .hot-news-list li {
    border-bottom: 1px solid #ddd;
}
.hot-news-list .hot-news-contain {
    display: block;
    padding: 20px 0;
}
.hot-news-list .hot-news-contain .hot-news-thumbnail {
    width: 100px;
    height: 70px;
    float: right;
}
.hot-news-contain .hot-news-thumbnail img {
    width: 100%;
}
.hot-news-contain  .hot-news-content {
    width: 63%;
    margin-right: 110px;
}
.hot-news-contain  .hot-news-content .hot-news-title {
    font-size: 16px;
    color: #212121;
    line-height: 28px;
    height: 56px;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;/*显示的行数*/
}
.hot-news-content .hot-news-other {
    margin-top: 5px;
    font-size: 14px;
}
.hot-news-content .hot-news-other .news-type {
    float: left;
    color: #5b86db;
    line-height: 14px;
}
.hot-news-content .hot-news-other .news-pub-time {
    float: right;
}
.hot-news-content .hot-news-other .news-author {
    float: right;
    display: none;
}
/* ==== side-hot-recommend end ==== */
/* ========= side end ============ */
/* ================= main end ================= */
