<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px;"></div>
    <!-- ECharts单文件引入 -->
    <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
    <script src="/static/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript">

        function see_table(name_list,diff_list){
            // 基于准备好的dom，初始化echarts图表
            var myChart = echarts.init(document.getElementById('main')); 
            var option = {
                tooltip: {
                    show: true
                },
                legend: {
                    data:['销量']
                },
                
                xAxis : [
                
                    {
                        type : 'category',
                        data :  name_list,
                        axisLabel: {
                            interval:0,
                            formatter:function(value) {
                                if(value.indexOf(" ") > -1){
                                    return value.split(" ").join("\n");
                                }else{
                                    temp = []
                                    for(var i=0;i<value.length;i+=7){
                                        s = ""
                                        for(var j = i;j<i+7;j++){
                                            if(value[j]){
                                                s += value[j]
                                            }
                                            
                                        }
                                        temp.push(s)
                                    }
                                    return temp.join("\n")
                                }
                        },
                        }
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        "name":"销量",
                        "type":"bar",
                        "data": diff_list
                    }
                ]
            };

            // 为echarts对象加载数据 
            myChart.setOption(option); 
        }

        $(document).ready(function(){
            $.get("./watch",function(data,status){
                diff_list = new Array()
                name_list = new Array()
                console.log(data)
                for(item in data){
                    console.log(item)
                    diff_list.push(data[item].diff)
                    name_list.push(data[item].detail.name)
                }
                console.log(diff_list)
                console.log(name_list)
                see_table(name_list,diff_list)
            })
        })
    </script>
</body>